// VARIABLES
$budget__history__heading--color: #df8c51;
$budget__position__border--color: #df8c51;
$budget__header__background--color: #3c4044;
$budget__border--color: #df8c51;
$budget__header--color: #df8c51;
$budget__filter--color: #df8c51;
$budget__header__border--color: #df8c51;
$position--positive__background--color: #58bb43;
$position--negative__background--color: #d84e5b;
$position__button__background--color: rgba(255, 255, 255, 0.39);
$position__button--hover__border: 0.2rem solid #006eff;

//-------------------------- BUDGET HISTORY --------------------------
.budget__history {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  padding: 2rem 0;
  margin-bottom: 5rem;

  h1 {
    font-size: 3rem;
    color: $budget__history__heading--color;
    text-align: center;
    margin-bottom: 2rem;
  }

  //---------------------- BUDGET HISTORY FILTER ----------------------
  .budget__history__filter {
    margin: 0 0 1rem 2rem;

    &__span {
      font-size: 2.2rem;
      color: $budget__filter--color;
      font-weight: bold;
    }

    input {
      width: 60%;
      height: 2.5rem;
      background-color: #3c4044;
      border: 0;
      border-radius: 0.3rem;
      text-indent: 0.3rem;
      padding: 0.5rem;
      color: #fff;
      font-weight: bold;
    }
  }

  //----------------------------- BUDGET TABLE --------------------------
  .budget__table {
    font-size: 2rem;
    border: 0.2rem solid $budget__position__border--color;

    //------------------------- BUDGET HEADER ------------------------------
    .budget__header {
      display: flex;
      border-bottom: 0.2rem solid $budget__header__border--color;
      text-align: center;
      background-color: $budget__header__background--color;
      color: $budget__header--color;

      &__key {
        width: 15%;
        border-right: 0.2rem solid $budget__border--color;
        padding: 0.5rem 0;
      }

      &__desc {
        width: 45%;
        border-right: 0.2rem solid $budget__border--color;
        padding: 0.5rem 0;
      }

      &__cost {
        width: 20%;
        border-right: 0.2rem solid $budget__border--color;
        padding: 0.5rem 0;
      }

      &__button {
        width: 25%;
        padding: 0.5rem 0;
      }
    } // end of budget header

    //------------------------- BUDGET POSITION ---------------------------
    .budget__position {
      display: flex;
      text-align: center;

      &:not(:last-child) {
        border-bottom: 0.1rem solid $budget__position__border--color;
      }

      .cell {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 4rem;
      }

      &__key {
        width: 15%;
        border-right: 0.2rem solid $budget__position__border--color;
      }

      &__desc {
        width: 45%;
        border-right: 0.2rem solid $budget__position__border--color;
        text-indent: 0.2rem;
        overflow: scroll;
      }

      &__cost {
        width: 20%;
        border-right: 0.2rem solid $budget__position__border--color;
        text-indent: 0.2rem;
        overflow: scroll;
      }

      &__button {
        width: 25%;

        .button {
          border: 0;
          border-radius: 25%;
          background-color: $position__button__background--color;
          cursor: pointer;

          img {
            width: 2.5rem;
            height: 2.5rem;
          }

          &:hover {
            border: $position__button--hover__border;
          }

          &__delete {
            margin-left: 0.5rem;
          }
        } // end of button
      } // end of buttons

      //----------------------------- POSITIVE ----------------------------
      &.budget__position--positive {
        background-color: $position--positive__background--color;
      }
      //----------------------------- NEGATIVE ----------------------------
      &.budget__position--negative {
        background-color: $position--negative__background--color;
      }
    } // end of budget position
  } // end of balance
} // end of budget positions

//----------------------------- MEDIA 768px ------------------------
@media only screen and (min-width: 768px) {
  .budget__history {
    .budget__history--filter {
      span {
        font-size: 2.2rem;
        color: #fff;
      }

      input {
        width: 30%;
      }
    }
    .budget__table {
      .budget__position {
        &__desc {
          overflow: unset;
        }

        &__cost {
          overflow: unset;
        }
      }
    }
  }
}

//----------------------------- MEDIA 1200px ------------------------
@media only screen and (min-width: 1200px) {
  .budget__history {
    width: 60%;
  }
}
//----------------------------- Media 1920px ------------------------
@media only screen and (min-width: 1920px) {
  .budget__history {
    width: 40%;
  }
}
