.budget__history {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  padding: 2rem 0;
  margin-bottom: 5rem;
}

.budget__history h1 {
  font-size: 3rem;
  color: #df8c51;
  text-align: center;
  margin-bottom: 2rem;
}

.budget__history .budget__history__filter {
  margin: 0 0 1rem 2rem;
}

.budget__history .budget__history__filter__span {
  font-size: 2.2rem;
  color: #df8c51;
  font-weight: bold;
}

.budget__history .budget__history__filter input {
  width: 60%;
  height: 2.5rem;
  background-color: #3c4044;
  border: 0;
  border-radius: 0.3rem;
  text-indent: 0.3rem;
  padding: 0.5rem;
  color: #fff;
  font-weight: bold;
}

.budget__history .budget__table {
  font-size: 2rem;
  border: 0.2rem solid #df8c51;
}

.budget__history .budget__table .budget__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 0.2rem solid #df8c51;
  text-align: center;
  background-color: #3c4044;
  color: #df8c51;
}

.budget__history .budget__table .budget__header__key {
  width: 15%;
  border-right: 0.2rem solid #df8c51;
  padding: 0.5rem 0;
}

.budget__history .budget__table .budget__header__desc {
  width: 45%;
  border-right: 0.2rem solid #df8c51;
  padding: 0.5rem 0;
}

.budget__history .budget__table .budget__header__cost {
  width: 20%;
  border-right: 0.2rem solid #df8c51;
  padding: 0.5rem 0;
}

.budget__history .budget__table .budget__header__button {
  width: 25%;
  padding: 0.5rem 0;
}

.budget__history .budget__table .budget__position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.budget__history .budget__table .budget__position:not(:last-child) {
  border-bottom: 0.1rem solid #df8c51;
}

.budget__history .budget__table .budget__position .cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 4rem;
}

.budget__history .budget__table .budget__position__key {
  width: 15%;
  border-right: 0.2rem solid #df8c51;
}

.budget__history .budget__table .budget__position__desc {
  width: 45%;
  border-right: 0.2rem solid #df8c51;
  text-indent: 0.2rem;
  overflow: scroll;
}

.budget__history .budget__table .budget__position__cost {
  width: 20%;
  border-right: 0.2rem solid #df8c51;
  text-indent: 0.2rem;
  overflow: scroll;
}

.budget__history .budget__table .budget__position__button {
  width: 25%;
}

.budget__history .budget__table .budget__position__button .button {
  border: 0;
  border-radius: 25%;
  background-color: rgba(255, 255, 255, 0.39);
  cursor: pointer;
}

.budget__history .budget__table .budget__position__button .button img {
  width: 2.5rem;
  height: 2.5rem;
}

.budget__history .budget__table .budget__position__button .button:hover {
  border: 0.2rem solid #006eff;
}

.budget__history .budget__table .budget__position__button .button__delete {
  margin-left: 0.5rem;
}

.budget__history .budget__table .budget__position.budget__position--positive {
  background-color: #58bb43;
}

.budget__history .budget__table .budget__position.budget__position--negative {
  background-color: #d84e5b;
}

@media only screen and (min-width: 768px) {
  .budget__history .budget__history--filter span {
    font-size: 2.2rem;
    color: #fff;
  }
  .budget__history .budget__history--filter input {
    width: 30%;
  }
  .budget__history .budget__table .budget__position__desc {
    overflow: unset;
  }
  .budget__history .budget__table .budget__position__cost {
    overflow: unset;
  }
}

@media only screen and (min-width: 1200px) {
  .budget__history {
    width: 60%;
  }
}

@media only screen and (min-width: 1920px) {
  .budget__history {
    width: 40%;
  }
}
/*# sourceMappingURL=BudgetPositions.css.map */