.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;

  color: white;
  font-size: 3rem;
  text-align: center;
  background-color: #3b3e42;
  height: 4rem;
  color: #df8c51;
}

.footer a {
  text-decoration: none;
  color: rgb(155, 155, 155);
}
