// VARIABLES
$balance__boder-bottom--color: #df8c51;
$totalbalance__background--color: #2a86ff;
$income__background--color: #58bb43;
$outcome__background--color: #d84e5b;
$color: #fff;

//-------------------------- BALANCE --------------------------
.balance {
  width: 90%;
  margin: 0 auto;
  font-size: 2rem;
  padding: 2rem 0;
  border-bottom: 0.15rem solid $balance__boder-bottom--color;

  //-------------------------- TOTAL -------------------------
  .totalBalance {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    background-color: $totalbalance__background--color;
    padding: 0.75rem;
    color: $color;
  }

  //-------------------------- ROW --------------------------
  .row {
    margin-top: 1rem;
    text-align: center;
    //-------------------------- INCOME ---------------------
    .income {
      margin: 0 auto;
      width: 90%;
      background-color: $income__background--color;
      padding: 0.75rem;
      color: $color;
    } // end of income

    //-------------------------- OUTCOME --------------------
    .outcome {
      margin: 1rem auto 0 auto;
      width: 90%;
      background-color: $outcome__background--color;
      padding: 0.75rem;
      color: $color;
    } // end of outcome
  } // end of row
} // end of balance

//----------------------------- MEDIA 768px ------------------------
@media only screen and (min-width: 768px) {
  .balance {
    width: 70%;
    .totalBalance {
      width: 90%;
      margin: 0 auto;
      text-align: center;
      background-color: $totalBalance__background--color;
      padding: 0.75rem;
      color: $color;
    }

    //-------------------------- ROW --------------------------
    .row {
      margin: 1rem auto 0 auto;
      width: 90%;
      text-align: center;
      display: flex;
      justify-content: space-between;
      //-------------------------- INCOME ---------------------
      .income {
        margin: 0;
        width: 40%;
      }
      //-------------------------- OUTCOME --------------------
      .outcome {
        margin: 0;
        width: 40%;
      } // end of outcome
    } // end of row
  }
}

//----------------------------- MEDIA 1200px ------------------------
@media only screen and (min-width: 1200px) {
  .balance {
    width: 55%;
  }
}
//----------------------------- Media 1920px ------------------------
@media only screen and (min-width: 1920px) {
  .balance {
    width: 40%;
  }
}
