// VARIABLES
$totalBalance__background--color: rgb(0, 110, 255);
$income__background--color: limegreen;
$outcome__background--color: red;
$color: #fff;

//-------------------------- BALANCE --------------------------
.balance {
  width: 90%;
  margin: 0 auto;
  font-size: 2rem;
  padding: 1rem 0;

  //-------------------------- TOTAL -------------------------
  .totalBalance {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    background-color: $totalBalance__background--color;
    padding: 0.75rem;
    color: $color;
  }

  //-------------------------- ROW --------------------------
  .row {
    padding: 1rem 0;
    display: flex;
    justify-content: space-around;

    //-------------------------- INCOME ---------------------
    .income {
      background-color: $income__background--color;
      padding: 0.75rem;
      color: $color;
    } // end of income

    //-------------------------- OUTCOME --------------------
    .outcome {
      background-color: $outcome__background--color;
      padding: 0.75rem;
      color: $color;
    } // end of outcome
  } // end of row
} // end of balance

//----------------------------- MEDIA 768px ------------------------
@media only screen and (min-width: 768px) {
  .balance {
    width: 70%;
  }
}

//----------------------------- MEDIA 1200px ------------------------
@media only screen and (min-width: 1200px) {
  .balance {
    width: 55%;
  }
}
//----------------------------- Media 1920px ------------------------
@media only screen and (min-width: 1920px) {
  .balance {
    width: 40%;
  }
}
